<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
  <div class="row">
    <div class="col">
      <div style="color: red">
        <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>
  
        <ul>
          <% task.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <% end %>

  <div class="row">
    <div class="col">
      <%= form.label :name %><br>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= form.text_field :name %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= form.label :description %><br>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= form.text_field :description %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= form.label :project_id %><br>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= form.collection_select :project_id, Project.all, :id, :name %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= form.label :is_completed %><br>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= form.hidden_field :is_completed, value: false %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= form.submit %>
    </div>
  </div>
<% end %>
