<div class="row">
  <div class="col">
    <p style="color: green"><%= notice %></p>
  </div>
</div>

<%= render @task %>

<div class="row">
  <div class="col">
    <%= link_to "Edit this task", edit_task_path(@task), class: 'btn btn-dark' %>
  </div>
  <div class="col">
    <%= link_to "Back to tasks", tasks_path, class: 'btn btn-outline-dark' %>
  </div>
  <% unless @task.is_completed? %>
    <div class="col">
      <%= link_to "Set this task as completed", set_completed_task_url(@task), class: 'btn btn-outline-success' %>
    </div>
  <% end %>
</div>

  <div class="row">
    <div class="col">
      <%= button_to "Destroy this task", @task, method: :delete, class: 'btn btn-danger' %>
    </div>
  </div>

