<h1>Hello, <%= current_user.username %></h1>
<div class="projects-overview">
    <h3>Projects overview</h3>
    <div class="counters">
        <div class="project-counter">
            <p>
                <%= pluralize(@projects.count, "project")%> created.
            </p>
        </div>
        <div class="task-counter">
            <p>
                <%= pluralize(@tasks.not_completed.count, "task") %> not completed.
                <%= pluralize(@tasks.completed.count, "task") %> completed.
            </p>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <td>Project</td>
                <td>Description</td>
                <td>Tasks</td>
            </tr>
        </thead>
        <tbody>
            <% for project in @projects %>
                <tr>
                    <td><%= project.name %></td>
                    <td><%= project.description %></td>
                    <td>
                        <ul>
                            <% for task in project.tasks %>
                            <li>
                                <%= task.name %>
                            </li>
                            <% end %>
                        </ul>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>

<div class="users-overview">
    <h3>Users overview</h3>
    <table>
        <thead>
            <tr>
                <td>Username</td>
                <td>Admin</td>
                <td>Assigned projects</td>
            </tr>
        </thead>
        <tbody>
            <% for user in @users %>
                <tr>
                    <td><%= user.username %></td>
                    <td><%= user.is_admin? %></td>
                    <td><%= user.projects.count %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
