<div class="row">
  <div class="col">
    <p style="color: green"><%= notice %></p>
  </div>
</div>

<%= render @project_assignment %>

<div class="row">
  <div class="col">
    <%= link_to "Edit this project assignment", edit_project_assignment_path(@project_assignment), class: 'btn btn-dark' %>
  </div>
  <div class="col">
    <%= link_to "Back to project assignments", project_assignments_path, class: 'btn btn-outline-dark' %>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= button_to "Destroy this project assignment", @project_assignment, method: :delete, class: 'btn btn-danger' %>
  </div>
</div>

