<p style="color: green"><%= notice %></p>

<%= render @user %>

<div class="row">
  <div class="col">
    <%= link_to "Edit this user", edit_user_path(@user), class: 'btn btn-dark' %>
  </div>
  <div class="col">
    <%= link_to "Back to users", users_path, class: 'btn btn-outline-dark' %>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= button_to "Destroy this user", @user, method: :delete, class: 'btn btn-danger'%>
  </div>
</div>


