<p style="color: green"><%= notice %></p>

<%= render @project %>

<div>
  <div class="row">
  <% if current_user.is_admin? %>
    <div class="col">
      <%= link_to "Edit this project", edit_project_path(@project), class: 'btn btn-dark' %>
    </div>
    <% end %>
    <div class="col">
      <%= link_to "Back to projects", projects_path, class: 'btn btn-outline-dark' %>
    </div>
  </div>

  <% if current_user.is_admin? %>
  <div class="row">
    <div class="col">
      <%= button_to "Destroy this project", @project, method: :delete, class: 'btn btn-danger' %>
    </div>
  </div>
  <% end %>
</div>
