<div class="login">
<h1>Login page</h1>
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<%= form_with model: @user, url: user_sessions_create_path do |form| %>
  <div>
    <%= form.label :username %><br>
    <%= form.text_field :username %>
  </div>
  <div>
    <%= form.label :password %><br>
    <%= form.password_field :password %>
  </div>
  <p>
    <%= form.submit 'Login' %>
  </p>
</div>
<% end %>
