<!DOCTYPE html>
<html>
  <head>
    <title>Webapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'style.css' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Progetto</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <% if signed_in? %>
              <% if current_user.is_admin? %>
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="<%= admin_dashboard_index_path %>">Dashboard</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="<%= users_path %>">Users</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="<%= project_assignments_path %>">Projects assignments</a>
                </li>
              <% end %>
              <li class="nav-item">
                <a class="nav-link" href="<%= tasks_path %>">Tasks</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="<%= projects_path %>">Projects</a>
              </li>
              <li class="nav-item">
                <%= link_to "Sign out", user_session_path(current_user), data: { turbo_method: :delete }, class: 'nav-link' %>
              </li>
            <% else %>
              <li class="nav-item">
                <a class="nav-link" href="<%= new_user_session_path %>">Sign in</a>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="content container text-center">
    <%= yield %>
    </div>
  </body>
</html>
