<!DOCTYPE html>
<html>
  <head>
    <title>Webapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'style.css' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <ul>
        <li>Progetto</li>
        <% if signed_in? %>
          <li><%= link_to "Projects", projects_path %></li>
          <li><%= link_to "Tasks", tasks_path %></li>
          <% if current_user.is_admin? %>
          <li><%= link_to "Users", users_path %></li>
          <li><%= link_to "Project assignments", project_assignments_path %></li>
          <% end %>
          <li><%= link_to "Sign out", user_session_path(current_user), data: { turbo_method: :delete } %></li>
        <% else %>
          <li><%= link_to "Sign in", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
    <div class="content">
    <%= yield %>
    </div>
  </body>
</html>
